:root{
    --jumbo: rgba(26, 188, 156, 1);
    --header: rgba(44, 62, 80, 1);
    --footer: rgba(58, 84, 109, 1);
}

.bg_header{
    background-color: var(--header);
}

.bg_jumbo{
    background-color: var(--jumbo);
}

.bg_footer{
    background-color: var(--footer);
}

.img_jumbo{
    width: 230px;
}

span{
    height: 3px;
    width: 100px;
}

